@charset "utf-8";

/* 
   estilo.css
 
   Kael Fraga, Pablo Diehl
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
*/

html{
    height: 100%;
}

body{
    width: 100%;
    background-color: #EEEEEE;
    font-family: Ubuntu, Arial, cursive;
    font-size: 14px; 
    margin: 0;
    color: hotpink;
}

/* Divs */
.dragosteDiv{
    float: left;
    border: 2px solid hotpink;
    border-radius: 10px;
    color: hotpink;
    margin-bottom: 20px;
}
.dragosteDiv h1{
    width: 100%;
    text-align: center;
    background-color: hotpink;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.dragosteDiv p{
    padding: 10px;
    color: hotpink;    
}
.dragosteDiv input:not([type="checkbox"]), .dragosteDiv  textarea{
    border: none;
    box-shadow: 0 0 2px darkorchid;
}

/* Botões */
.dragosteButton{
    margin: auto;
    width: 50%;
    max-width: 200px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, pink, hotpink);
    border-radius: 10px;
    background-color: hotpink;
    border: none;
}
.dragosteButton:hover{
    background-image: linear-gradient(to bottom, orchid, darkorchid);
}

.pagina{
    background-color: #FFFFFF; 
    width: 80%;
    margin: 0 auto; 
}

#presentation{
    margin: 0 auto;
    min-width: 200px;
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    font-size: 1.6vmax;
    text-align: center;
    margin-bottom: 10px;
}

/* Menu Horizontal */
.horizontalMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.horizontalMenu li {
    display: inline;
    float: left;
}
.horizontalMenu li a {
    display: block;
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .horizontalMenu li {
        float: none;
        display: block;
        width: 100%;
        height: 4em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

#header{
    width: 100%;
    background-color: #FFFFFF;
    min-height: 4.5em;
    font-size: 12px; 
}

#header #username{
    font-weight: bold;
}

/* Menu Principal */
#mainMenu{
    margin: 0 auto;
    width: 85%;
    max-width: 1000px;
}
#mainMenu li{
    margin-left: 10px;
    margin-right: 20px;
    height: 4em;
    line-height: 4em;
    color: hotpink;
}
#mainMenu li a:hover {
    color: darkorchid;
}
#mainMenu li a:not(:hover) {
    color: hotpink;
}

/* Logo */
.logo{
    width: 140px;
    height: 4em;
    margin-left: 15px;
}

/* Search bar */
#searchbox{
    float:left;
    margin-top: 20px;
    margin-bottom: 10px;
}
#searchbox form{
    background-color:#e7e7e7;
    float:left;
    height:24px;
    margin:0;
    padding:0;
    width:100%;
}
#searchbox input.text{
    background:none;
    border:0;
    color:#999;
    float:left;
    font-size: 14px; 
    margin:4px 1px 0 5px;
    outline-width:0;
    padding:0;
    width:118px;
}
#searchbox input.on, #searchbox input.text:focus{
    color:#000;
}
#searchbox input.button{
    background-color:#999;
    float:left;
    padding:0;
}
#searchbox input.button:hover{
    background-color:#333;
}

.clear {
    clear: both;
}

/*index*/
.textPromo{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;
    font-size: 3.8vmax; 
    text-shadow: 0 0 3px darkorchid, 0 0 5px #FFFFFF;
}

.promo{
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    background-color: hotpink;
    color: #FFFFFF;
    font-weight: bold;		
    text-transform: uppercase;
    display: inline-block;
}
@media screen and (max-width: 700px) {
    .promo{ height: 200px; }
}

.promo div{
    width: 90%;
    max-width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.promo a{
    text-decoration: none;
}

.verticalMenu {
    border: 2px solid hotpink;
    border-radius: 10px;
    display: inline-block;
    float: left;
}
.verticalMenu ul {
    padding: 7px 0px 7px 16px;
    list-style-type: none;
}
.verticalMenu span{
    color: darkorchid;
}
.verticalMenu li a{
    line-height: 16px;
    margin: 7px 0px;
    display: block;
    color: hotpink;
    text-decoration: none;
}
.verticalMenu li a:hover{
    color: darkorchid;
}

.categoryMenu{
    width: 25%;
    margin-top: 38px;
    margin-left: 10px; 
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
}
@media screen and (max-width: 400px) {
    .categoryMenu{
        float: none;
        width: 90%;
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 2px solid hotpink;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}

/*Outros Jogos*/
.corpoPrincipal{
    width: 70%;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid hotpink;
    min-width: 200px;
    border-spacing:0;
    border-radius: 5px;
    text-align: center;
}
@media screen and (max-width: 400px) {
    .corpoPrincipal{
        float: none;
        margin: auto;
        width: 90%;
        display: block;
        margin-bottom: 10px; 
        min-width: 200px;
        border: 2px solid hotpink;
        border-spacing:0;
        border-radius: 5px;
        text-align: center;
    }
}

.corpoPrincipal h1{
    background-color: hotpink;
    color: #FFFFFF;
    font-size: 2.0vmax;
    margin: 0;
}
.corpoPrincipal img{
    display: inline-block;
    width: 220px;
    height: 128px;
    border-radius: 10px;
    overflow: hidden;
}
@media screen and (min-width: 1500px) {
    .corpoPrincipal img{
        width: 300px;
        height: 150px;
    } 
} 
.corpoPrincipal #imagem_div{
    padding: 7px;
    opacity: 0.85;
    font-weight: bold;
    display: inline-block;
}
.corpoPrincipal #imagem_div:hover{
    opacity: 1;
}
.corpoPrincipal p{
    margin: 3px;
}
.corpoPrincipal span{
    color: hotpink;
}
.corpoPrincipal a{
    text-decoration: none;
    color: black;
}

/*Página de Jogos*/
#tituloDesc{
    width: 100%;
    text-align: center;
    background-color: hotpink;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.descricao{
    float: left;
    width: 70%;
    min-width: 200px;
    margin-left: 1.5%;
    margin-bottom: 20px;
    border: 2px solid hotpink;
    border-radius: 10px;
}
.descricao .descText{
    padding-left: 20px;
    padding-right: 20px;
}
.descricao p{
    text-align: justify;
    width: 98%;
    margin: auto;
    margin-top: 10px;
    color: hotpink;
}

#trailer{
    width: 560px;
    height: 315px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*Informações do Game*/
.detalhes{
    float: left;
    width: 25%;
    margin-left: 1.5%;
    min-width: 200px;
    border: 2px solid hotpink;
    border-radius: 10px;
    color: hotpink;
}
.detalhes p{
    width: 100%;
    text-align: center;
    background-color: hotpink;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.detalhes li{
    font-size: 12px;
    list-style: none;
    margin-left: -20px;
}
.detalhes span{
    font-weight: bold;
}
.detalhes a{
    text-decoration: none;
}

#botaoComprar{
    margin-bottom: 10px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.galeria{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;  
    display: inline-block;
    overflow: hidden;
}
.galeria #quadro_imagens{
    width: 80%;
    margin: 0 auto;
    border-spacing:0;
    border-radius: 5px;
    text-align: center;
}
.galeria h1{
    color: hotpink;
    font-size: 18px;
    text-align: center;
}
.galeria img{
    max-width: 150px;
    border-radius: 10px;
    display: inline-block;
}
.galeria #imagem_div{
    display: inline-block;
    padding: 15px;
}

/*carrinho de compras*/
.quantidade{
    width: 20%;
    min-width: 30px;
    border: none;
    padding: 4px;
    color: hotpink;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 auto;
    box-shadow: 0 0 2px darkorchid;
    text-align: center;
}

.corpoCart{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}
.corpoCart table{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid hotpink;
    border-spacing:0;
    border-radius: 5px;
    text-align: center;
}
.corpoCart th{
    background-color: hotpink;
    color: #FFFFFF;
    font-size: 2.5vmax;
}
.corpoCart td{
    border: 1px solid hotpink;
    color: hotpink;
    padding: 10px;
}
.corpoCart span{
    font-weight: bold;
}
.corpoCart img{
    display: inline-block;	
    width: 100%;
    margin-left: 5px;
    margin-right: 10px;
    max-width: 10.0vmax;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
}
.corpoCart tbody a{
    color: pink;
    font-size: 1vmax;
}
.corpoCart tbody a:hover{
    color: orchid;
}
.corpoCartDesc{
    text-align: justify;
}
.corpoCart tfoot a{
    text-decoration: none;
}
#corpoCartSubtotal{
    text-align: right;
    font-weight: bold;
}

#botaoContinuarComprando{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 10px;
}

.finalizarCompra a{
    text-decoration: none;
    color: #FFFFFF;
}

#botaoFinalizarCompra{
    width: 50%;
    max-width: 200px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, orchid, darkorchid);
    border-radius: 10px;
    background-color: hotpink;
}
#botaoFinalizarCompra:hover{
    background-image: linear-gradient(to bottom, pink, hotpink);
}	

/*Página de Login/ Cadastro*/
.formDiv{
    margin-top: 20px;
    width: 45%;
    margin-left: 1.5%;
    min-width: 200px;
    font-size: 1.5vmax;
    min-height: 16em;
}
.formDiv form{
    padding: 10px;
}
.formDiv form > *{
    margin-top: 5px;
    width: 100%;
    float: left;
    font-size: 1.4vmax;
}
.formDiv input{
    margin-bottom: 20px;
    color: darkorchid;
}
.formDiv a{
    color: #FFC0CB;
    font-size: 1vmax;
    margin-bottom: 10px;
}
.formDiv a:hover {
    color: #DA70D6;
}
.formDiv .dragosteButton{
    font-size: 1.6vmax;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2em;
    color: white;
}

#formRegister{
    float: none;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    min-width: 200px;
}

/*Página de Contato*/
#faleConosco{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    color: hotpink;
    font-size: 2.5vmax;
}

#contato{
    width: 48%;
    margin-left: 1%;
    min-width: 200px;
    font-size: 1.5vmax;
}

#formularioContato{
    margin-left: 3%;
    margin-bottom: 10px;
}

#formularioContato textarea{
    width: 95%;
    min-width: 95%;
    max-width: 95%;
    max-height: 300px;
    color: darkorchid;
    font-size: 1.4vmax;
}

#formularioContato input{
    width: 95%;
    color: darkorchid;
    font-size: 1.4vmax;
}

#formularioContato input[type=submit] {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 10px;
    color: #FFFFFF;
}

#info{
    width: 48%;
    margin-left: 1%;
    min-width: 200px;
    font-size: 1.2vmax;
}

#info span{
    font-weight: bold;
}

#info iframe{
    margin-top: 5px;
    width: 95%;
    height: 400px;
}

#info a{
    color: darkorchid;
    text-decoration: none;
    margin-left: 2px;
}

#info a:hover{
    color: darkorchid;
    text-decoration: none;
}

/* Rodapé*/
#footer {
    width: 100%;
    background-color: hotpink;  
    font-size: 1.0vmax;;
    margin-bottom: 50px;
}

/* Menu Inferior */
#botMenu{
    color: white;
}
#botMenu li{
    height: 2.5em;
    line-height: 2.5em;
    color: white;
    text-align: center;
}
#botMenu li a{  
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-align: center;
}
#botMenu li a:hover {  
    background-color: darkorchid;
}
#botMenu li a:not(:hover) {
    background-color: hotpink;
}
#botMenu img{
    position: relative;
    top: 3px;
}

.copyright{
    float: left;
    margin-top: 10px;
    margin-bottom: 30px
}
.social{
    width: 40%;
    float: right;
}

.quadro{
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
    background-color: hotpink;
}

.novaGaleria {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.novaGaleria div {
    width: 100%;
    display: inline-block;
}

.novaGaleria img{
    width: 420px;
    height: calc(0.7 * 420px);
    box-shadow: 0 0 3px darkorchid, 0 0 5px #FFFFFF;
}
@media screen and (max-width: 700px) {
    .novaGaleria img{
        width: 220px;
        height: calc(0.7 * 220px);
    } 
} 

.novaGaleria button {
    position: absolute;
    box-shadow: 0 0 3px darkorchid, 0 0 5px #FFFFFF;
    background-color: white;
    color: darkorchid;
    border-radius: 10px; 
    font-weight: bold;
}

.novaGaleriaTitulo{
    font-size: 36px;
    color: hotpink;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}

.anterior {
    left: 15px;
    top: 49%;
}           
.proxima {
    right: 15px;
    top: 49%;
}